refs/
.venv
__pycache__/
*.pyc
*.pth
*.pt
wandb/
results/
data/
claude_scripts/
old/
commands.sh
.env
*.parquet
*.json
*.png
.claude/
scr_out
slconf
plotting_scripts/
values-dataset/
.commands_auto.sh
dep_abstract/